*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 222, 172);
}
header{
    height: 10%;
    width: 100%;
    background-color: rgb(241, 254, 67);
    color: rgb(42, 1, 204);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.logo img{
    height: 77px;     
    width: auto;
}

.containor{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    display: inline;
    font-weight: 550px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    transition: 0.3s ease;
    font-weight: 600;
}

/* Hover effect for all nav links */
nav ul li a:hover {
    background-color: rgb(244, 32, 32);
    color: white;
    border-radius: 100px;
}

.logo{
        font-size: 34px;
}
.book {
    width: 100%;
    height: 400px;     
    background: url('https://anulib.anu.edu.au/files/2024-11/book-banner-2300x600.png') no-repeat center center;
    background-size: cover;
    background-position:center;
    position: relative; 
    color: rgb(236, 248, 232);
    text-align: center;
    padding: 140px,0;
}
.book-section{
    font-size: 20px;
}
/* SEARCH BAR CONTAINER */
.Search-box{
    display: flex;
    gap: 8px;
    margin-top: 25px;
    justify-content: center;
}


.Search-box input{
    width: 340px;        
    padding: 10px 12px;  
    font-size: 1rem;
    border: 1px solid #c5c2c2;
    border-radius: 6px;  
}


.Search-box button{
    padding: 10px 18px;     
    border: none;
    background-color: #ebdc10;
    color: #1A2238;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}
.Search-box button:hover{
    opacity: 0.85;
}
/* ************   Book Explore section.    ********************** */

.Ancient {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.Ancient-section {
    display: inline-block;
    width: 45%;
    margin: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.Ancient-card img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    border-radius: 6px;
}

.Ancient-card h2 {
    font-size: 1rem;
    margin: 6px 0;
}

.Ancient-card p {
    font-size: 0.85rem;
}
