* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(233, 222, 172);
}

/* HEADER (SAME DESIGN) */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgb(241, 254, 67);
    border-bottom: 2px solid black;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    font-weight: 600;
    font-size: 18px; 
    transition: 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background: black;
    color: white;
    border-radius: 5px;
}

/* LOGIN FORM CARD */
.login-box {
    width: 35%;
    background: white;
    margin: 60px auto;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 12px gray;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 700;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input {
    margin: 12px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 16px;
}

.login-box button {
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.login-box button:hover {
    background: rgb(38, 38, 38);
}

/* SIGNUP TEXT */
.signup-text {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.signup-text a {
    text-decoration: none;
    color: blue;
}
